@import "./utils/mixins";
@import "./utils/variables";
@import "./components/page-header";
@import "./components/header-mobmodal";
@import "./components/hero-section";
@import "./components/feature";
@import "./components/whatwedo";
@import "./components/ourteam";
@import "./components/regular-customers";
@import "./components/footer";
// @import "./components/projects";
@import "./components/modalwindow";