@include mobile {
.footer {
    background-color: var(--footer-background);

    &__container {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
    }
    
    &__logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--third-color);
        
    }

    &__logoweb {
        color: var(--hover-color)
    }
    
    &__logostudio {
        color: var(--fourth-color);
    }
    
    &__contacts-list {
        margin: 20px auto 60px auto;
    }
    
    &__list:not(:last-child) {
        margin-bottom: 8px;
    }
    
    &__contacts {
        font-style: normal;
        line-height: 1.71;
        color: var(--footer-color);
        transition: color 250ms var(--time-distribution-function);
    }
    
    &__contacts:hover,
    &__contacts:focus {
        color: var(--hover-color);
    }

    &__adress {
        font-style: normal;
        line-height: 1.71;
        color: var(--fourth-color);
        transition: color 250ms var(--time-distribution-function);
    }
    
    &__adress:hover,
    &__adress:focus {
        color: var(--hover-color)
    }
    
    &__join {
        margin-bottom: 60px;
    }

    &__join-in {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--fourth-color);
        margin-bottom: 20px;
    }
        
    &__socials-links {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    &__sociallink {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--footer-color-two);
        transition: background-color 250ms var(--time-distribution-function);
    }

    &__sociallink:hover,
    &__sociallink:focus {
        background-color: var(--hover-color);
    }
    
    &__icon-sociallinks {
        width: 20px;
        height: 20px;
        fill: var(--fourth-color);
    }
    
    &__mail input {
        max-width: 450px;
        width: 100%;
        height: 50px;
        padding: 15px 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.25;
        background-color: inherit;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    &__mail input:focus {
        color: var(--fourth-color);
    }
     
    &__subscribe-button {
        display: flex;
        margin: 20px auto 0 auto;
        padding: 10px 28px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        align-items: center;
        text-align: center;
        color: var(--fourth-color);
        background-color: var(--hover-color);
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
    
    &__subscribe-button-icon {
        width: 24px;
        height: 24px;
        margin-left: 10px;
        fill: var(--fourth-color);
    }
}
}

@include tablet {
    .footer {
        background-color: var(--footer-background);

        &__container {
            padding-top: 60px;
            padding-bottom: 60px;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-around;
            text-align: center;
        }

        &__subscribe {
            margin-top: 60px;
        }

        &__logo {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: var(--third-color);
        }
       
        &__logoweb {
            color: var(--hover-color)
        }

        &__logostudio {
            color: var(--fourth-color);
        }

        &__contacts-list {
            margin: 20px auto 0 auto;
        }

        &__list:not(:last-child) {
            margin-bottom: 8px;
        }
        
        &__contacts {
            font-style: normal;
            line-height: 1.71;
            color: var(--footer-color);
            transition: color 250ms var(--time-distribution-function);
        }

        &__contacts:hover,
        &__contacts:focus {
            color: var(--hover-color);
        }

        &__adress {
            font-style: normal;
            line-height: 1.71;
            color: var(--fourth-color);
            transition: color 250ms var(--time-distribution-function);
        }

        &__adress:hover,
        &__adress:focus {
            color: var(--hover-color)
        }

        &__join-in {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--fourth-color);
            margin-bottom: 20px;
        }

        &__socials-links {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        &__sociallink {
            display: flex;
            width: 44px;
            height: 44px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: var(--footer-color-two);
            transition: background-color 250ms var(--time-distribution-function);
        }

        &__sociallink:hover,
        &__sociallink:focus {
            background-color: var(--hover-color);
        }

        &__icon-sociallinks {
            width: 20px;
            height: 20px;
            fill: var(--fourth-color);
        }

        &__mail input {
            padding: 15px 16px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            display: inline-block;
            width: 450px;
            height: 50px;
            font-size: 16px;
            line-height: 1.25;
            background-color: inherit;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }

        &__mail input:focus {
            color: var(--fourth-color);
        }

        &__subscribe-button {
            display: flex;
            margin: 20px auto 0 auto;
            cursor: pointer;
            padding: 10px 28px;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            align-items: center;
            text-align: center;
            color: var(--fourth-color);
            background-color: var(--hover-color);
            border-radius: 4px;
            border: none;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }

        &__subscribe-button-icon {
            width: 24px;
            height: 24px;
            margin-left: 10px;
            fill: var(--fourth-color);
        }
    }
}

@include desktop {
    .footer {
        background-color: var(--footer-background);

        &__container {
            text-align: left;
        }

        &__logo {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            justify-content: left;
            color: var(--third-color);
        }

        &__logoweb {
            color: var(--hover-color);
        }

        &__logostudio {
            color: var(--fourth-color);
        }

        &__list:not(:last-child) {
            margin-bottom: 9px;
        }

        &__contacts {
            font-style: normal;
            line-height: 1.71;
            color: var(--footer-color);
            transition: color 250ms var(--time-distribution-function);
        }
       
        &__contacts:hover,
        &__contacts:focus {
            color: var(--hover-color);
        }

        &__adress {
            font-style: normal;
            line-height: 1.71;
            color: var(--fourth-color);
            transition: color 250ms var(--time-distribution-function);
        }

        &__adress:hover,
        &__adress:focus {
            color: var(--hover-color)
        }

        &__join-in {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--fourth-color);
        }

        &__sociallink {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-color: var(--footer-color-two);
            transition: background-color 250ms var(--time-distribution-function);
        }

        &__sociallink:hover,
        &__sociallink:focus {
            background-color: var(--hover-color);
        }

        &__icon-sociallinks {
            width: 20px;
            height: 20px;
            fill: var(--fourth-color);
        }

        &__mail {
            display: flex;
            gap: 12px;
        }

        &__mail input {
            margin: 0;
            padding: 15px 16px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            display: inline-block;
            width: 358px;
            height: 50px;
            font-size: 16px;
            line-height: 1.25;
            background-color: inherit;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }

        &__mail input:focus {
            color: var(--fourth-color);
        }

        &__subscribe {
            margin: 0;
        }

        &__subscribe-button {
            display: flex;
            margin: 0 auto 0 auto;
            cursor: pointer;
            padding: 10px 28px;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            align-items: center;
            text-align: center;
            color: var(--fourth-color);
            background-color: var(--hover-color);
            border-radius: 4px;
            border: none;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }

        &__subscribe-button-icon {
            width: 24px;
            height: 24px;
            margin-left: 10px;
            fill: var(--fourth-color);
        }
    }
}