@include mobile {
.herosection {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-color: var(--hero-background);
    background-image:
        linear-gradient(var(--overlay-color-one), var(--overlay-color-one)),
        url(../images/herobackground.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: auto;
    margin: 0 auto;

    &__text {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: var(--fourth-color);
        max-width: 360px;
        margin-right: auto;
        margin-bottom: 30px;
        margin-left: auto;
    }
    
    &__button {
        font-family: inherit;
        background-color: var(--hover-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: var(--fourth-color);
        padding: 10px 24px;
        border-radius: 4px;
        border-color: transparent;
        box-shadow: 0px 4px 4px 0px var(--shadow-color-one);
        transition: background-color 250ms var(--time-distribution-function);
    }
}
}

@include tablet {
    .herosection {
            padding-top: 118px;
            padding-bottom: 118px;
            text-align: center;
            background-color: var(--hero-background);
            background-image:
                linear-gradient(var(--overlay-color-one), var(--overlay-color-one)),
                url(../images/herobackground.jpg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            width: auto;
            margin: 0 auto;
    
            // padding-top: 200px;
            //     padding-bottom: 200px;
            //     text-align: center;
            //     background-color: var(--hero-background);
            //     background-image:
            //         linear-gradient(var(--overlay-color-one), var(--overlay-color-one)),
            //         url(../images/herobackground.jpg);
            //     background-repeat: no-repeat;
            //     background-position: 50% 50%;
            //     background-size: cover;
            //     max-width: 1600px;
            //     margin: 0 auto;
    
    
            &__text {
                font-weight: 900;
                font-size: 26px;
                line-height: 1.62;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                text-align: center;
                color: var(--fourth-color);
                max-width: 360px;
                margin-right: auto;
                margin-bottom: 30px;
                margin-left: auto;
            }
    
            // &__text {
            //     font-weight: 900;
            //     font-size: 44px;
            //     line-height: 1.36;
            //     letter-spacing: 0.06em;
            //     text-transform: uppercase;
            //     text-align: center;
            //     color: var(--fourth-color);
            //     max-width: 696px;
            //     margin-right: auto;
            //     margin-bottom: 30px;
            //     margin-left: auto;
            // }
    
            &__button {
                cursor: pointer;
                font-family: inherit;
                background-color: var(--hover-color);
                font-weight: 700;
                font-size: 16px;
                line-height: 1.88;
                letter-spacing: 0.06em;
                color: var(--fourth-color);
                padding: 10px 24px;
                border-radius: 4px;
                border-color: transparent;
                box-shadow: 0px 4px 4px 0px var(--shadow-color-one);
                transition: background-color 250ms var(--time-distribution-function);
            }
    
    
            // &__button {
            //     cursor: pointer;
            //     font-family: inherit;
            //     background-color: var(--hover-color);
            //     font-weight: 700;
            //     font-size: 16px;
            //     line-height: 1.88;
            //     letter-spacing: 0.06em;
            //     color: var(--fourth-color);
            //     padding: 10px 32px;
            //     border-radius: 4px;
            //     border-color: transparent;
            //     box-shadow: 0px 4px 4px 0px var(--shadow-color-one);
            //     transition: background-color 250ms var(--time-distribution-function);
            // }
    
            // &__button:hover,
            // &__button:focus {
            //     background-color: var(--button-hover-background);
            // }
        }
}

