@include mobile {
.modal-window {
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 1;
        transition: opacity 250ms var(--time-distribution-function);
    }

    &__backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    
        &__form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 450px;
            height: 609px;
            background-color: var(--fourth-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            padding: 40px;
        }
    
        &__header {
            font-weight: 700;
            font-size: 20px;
            line-height: 1.15;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--primary-color);
            margin-bottom: 12px;
        }
    
        &__input-list {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
        }
    
        &__close-button {
            display: flex;
            position: absolute;
            top: 8px;
            right: 8px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            background-color: var(--fourth-color);
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    
        &__cross {
            width: 11px;
            height: 11px;
            fill: var(--third-color);
        }
    
        &__element:not(:last-child) {
            margin-bottom: 10px;
        }
    
        &__input-list label {
            position: relative;
            display: flex;
            flex-direction: column;
        }
    
        &__input-field input {
            font-size: 14px;
            line-height: 1, 71;
            letter-spacing: 0.03em;
            color: var(--primary-color);
            padding: 12px 42px;
        }
        
        &__input-field input, textarea {
            height: 40px;
            margin-top: 4px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition: border-color 250ms var(--time-distribution-function);
        }
    
        &__input-field textarea:hover,
        &__input-field textarea:focus {
            border-color: var(--hover-color);
        }

        &__input-field textarea {
            font-size: 14px;
            line-height: 1, 71;
            letter-spacing: 0.03em;
            color: var(--primary-color);
            resize: none;
            height: 120px;
            padding: 12px 16px;
        }
    
        &__input-field {
            fill: var(--primary-color);
            transition: fill 250ms var(--time-distribution-function);
        }
    
        &__input-field:hover {
            fill: var(--hover-color);
        }
    
        &__input-field:focus-within {
            fill: var(--hover-color);
        }
    
        &__input-field input:hover,
        &__input-field input:focus {
            border-color: var(--hover-color);
        }
    
        &__icon {
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 12px;
            width: 18px;
            height: 18px;
        }
    
        &__checkbox {
            display: flex;
            justify-content: center;
            gap: 7px;
            margin-top: 20px;
            appearance: none;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.03em;
        }
    
        &__checkbox-icon {
            width: 16px;
            height: 15px;
            border: 2px solid var(--primary-color);
            border-radius: 4px;
            box-shadow:
                0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
        }
    
        &__checkbox:checked+&__checkbox-icon {
            border-color: var(--hover-color);
            background-color: var(--hover-color);
            background-image: url(../images/check.svg);
            background-position: 50% 50%;
            background-size: contain;
            background-origin: border-box;
        }
    
        &__checkbox a {
            text-decoration: underline;
            color: var(--hover-color);
        }
    
        &__button {
            display: flex;
            cursor: pointer;
            font-family: inherit;
            background-color: var(--hover-color);
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            color: var(--fourth-color);
            align-items: center;
            text-align: center;
            padding: 10px 52px;
            border-radius: 4px;
            border-color: transparent;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            margin-top: 30px;
            margin-right: auto;
            margin-left: auto;
            transition: background-color 250ms var(--time-distribution-function);
        }
    
        &__button:hover,
        &__button:focus {
            background-color: var(--button-hover-background);
        }
}
}
    
@include tablet {
.modal-window {

        &__backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 1;
            transition: opacity 250ms var(--time-distribution-function);
        }

        &__backdrop.is-hidden {
            opacity: 0;
            pointer-events: none;
        }

        &__form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 450px;
            height: 609px;
            background-color: var(--fourth-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            padding: 40px;
        }

        &__header {
            font-weight: 700;
            font-size: 20px;
            line-height: 1.15;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--primary-color);
            margin-bottom: 12px;
        }

        &__input-list {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
        }

        &__close-button {
            display: flex;
            position: absolute;
            top: 8px;
            right: 8px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            background-color: var(--fourth-color);
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        &__cross {
            width: 11px;
            height: 11px;
            fill: var(--third-color);
        }

        &__element:not(:last-child) {
            margin-bottom: 10px;
        }

        &__input-list label {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        &__input-field input {
            font-size: 14px;
            line-height: 1, 71;
            letter-spacing: 0.03em;
            color: var(--primary-color);
            padding: 12px 42px;
        }

        &__input-field input,
        textarea {
            height: 40px;
            margin-top: 4px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition: border-color 250ms var(--time-distribution-function);
        }

        &__input-field textarea:hover,
        &__input-field textarea:focus {
            border-color: var(--hover-color);
        }

        &__input-field textarea {
            font-size: 14px;
            line-height: 1, 71;
            letter-spacing: 0.03em;
            color: var(--primary-color);
            resize: none;
            height: 120px;
            padding: 12px 16px;
        }

        &__input-field {
            fill: var(--primary-color);
            transition: fill 250ms var(--time-distribution-function);
        }

        &__input-field:hover {
            fill: var(--hover-color);
        }

        &__input-field:focus-within {
            fill: var(--hover-color);
        }

        &__input-field input:hover,
        &__input-field input:focus {
            border-color: var(--hover-color);
        }

        &__icon {
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 12px;
            width: 18px;
            height: 18px;
        }

        &__checkbox {
            display: flex;
            justify-content: center;
            gap: 7px;
            margin-top: 20px;
            appearance: none;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.03em;
        }

        &__checkbox-icon {
            width: 16px;
            height: 15px;
            border: 2px solid var(--primary-color);
            border-radius: 4px;
            box-shadow:
                0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
        }

        &__checkbox:checked+&__checkbox-icon {
            border-color: var(--hover-color);
            background-color: var(--hover-color);
            background-image: url(../images/check.svg);
            background-position: 50% 50%;
            background-size: contain;
            background-origin: border-box;
        }

        &__checkbox a {
            text-decoration: underline;
            color: var(--hover-color);
        }

        &__button {
            display: flex;
            cursor: pointer;
            font-family: inherit;
            background-color: var(--hover-color);
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            color: var(--fourth-color);
            align-items: center;
            text-align: center;
            padding: 10px 52px;
            border-radius: 4px;
            border-color: transparent;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            margin-top: 30px;
            margin-right: auto;
            margin-left: auto;
            transition: background-color 250ms var(--time-distribution-function);
        }

        &__button:hover,
        &__button:focus {
            background-color: var(--button-hover-background);
        }
}
}

@include desktop {
    .modal-window {

        &__backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 1;
            transition: opacity 250ms var(--time-distribution-function);
        }

        &__backdrop.is-hidden {
            opacity: 0;
            pointer-events: none;
        }

        &__form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 528px;
            height: 581px;
            background-color: var(--fourth-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            padding: 40px;
        }

        &__header {
            font-weight: 700;
            font-size: 20px;
            line-height: 1.15;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--primary-color);
            margin-bottom: 12px;
        }

        &__input-list {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
        }

        &__close-button {
            display: flex;
            position: absolute;
            top: 8px;
            right: 8px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            background-color: var(--fourth-color);
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        &__cross {
            width: 11px;
            height: 11px;
            fill: var(--third-color);
        }

        &__element:not(:last-child) {
            margin-bottom: 10px;
        }

        &__input-list label {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        &__input-field input {
            font-size: 14px;
            line-height: 1, 71;
            letter-spacing: 0.03em;
            color: var(--primary-color);
            padding: 12px 42px;
        }
        
        &__input-field input,
        textarea {
            height: 40px;
            margin-top: 4px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition: border-color 250ms var(--time-distribution-function);
        }

        &__input-field textarea:hover,
        &__input-field textarea:focus {
            border-color: var(--hover-color);
        }

        &__input-field textarea {
            font-size: 14px;
            line-height: 1, 71;
            letter-spacing: 0.03em;
            color: var(--primary-color);
            resize: none;
            height: 120px;
            padding: 12px 16px;
        }

        &__input-field {
            fill: var(--primary-color);
            transition: fill 250ms var(--time-distribution-function);
        }

        &__input-field:hover {
            fill: var(--hover-color);
        }

        &__input-field:focus-within {
            fill: var(--hover-color);
        }

        &__input-field input:hover,
        &__input-field input:focus {
            border-color: var(--hover-color);
        }

        &__icon {
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 12px;
            width: 18px;
            height: 18px;
        }

        &__checkbox {
            display: flex;
            justify-content: center;
            gap: 7px;
            margin-top: 20px;
        }

        &__checkbox-icon {
            width: 16px;
            height: 15px;
            border: 2px solid var(--primary-color);
            border-radius: 4px;
            box-shadow:
                0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
        }

        &__checkbox {
            appearance: none;
        }

        &__checkbox:checked+&__checkbox-icon {
            border-color: var(--hover-color);
            background-color: var(--hover-color);
            background-image: url(../images/check.svg);
            background-position: 50% 50%;
            background-size: contain;
            background-origin: border-box;
        }

        &__checkbox a {
            text-decoration: underline;
            color: var(--hover-color);
        }

        &__button {
            display: flex;
            cursor: pointer;
            font-family: inherit;
            background-color: var(--hover-color);
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            color: var(--fourth-color);
            align-items: center;
            text-align: center;
            padding: 10px 52px;
            border-radius: 4px;
            border-color: transparent;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            margin-top: 30px;
            margin-right: auto;
            margin-left: auto;
            transition: background-color 250ms var(--time-distribution-function);
        }

        &__button:hover,
        &__button:focus {
            background-color: var(--button-hover-background);
        }
    }
}
