@include mobile {
.ourteam {
    background-color: var(--secondary-background);

    &__header {
        text-align: center;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: var(--primary-color);
        margin-bottom: 30px;
    }

    &__teamphoto li:not(:last-child) {
        margin-bottom: 30px;
    }
    
    &__list {
        background-color: var(--fourth-color);
        box-shadow: 0 1px 3px 0 var(--shadow-color-two),
                0 1px 1px 0 var(--shadow-color-three),
                0 2px 1px 0 var(--shadow-color-four);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &__teammember-description {
        padding-top: 30px;
        padding-bottom: 24px;
    }
    
    &__teammembers {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--primary-color);
        text-align: center;
        margin-bottom: 10px;
    }
    
    &__positionteam {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--secondary-color);
        text-align: center;
    }
    
    &__sociallinks-list {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 16px;
    }
    
    &__sociallink {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        fill: var(--sociallink-color);
        transition: background-color 250ms var(--time-distribution-function),
            fill 250ms var(--time-distribution-function);
    }
    
    &__sociallink:hover,
    &__sociallink:focus {
        background-color: var(--hover-color);
        fill: var(--fourth-color);
    }
    
    &__icon-sociallinks {
        width: 20px;
        height: 20px;
    }
}
}
@include tablet {
.ourteam {
    background-color: var(--secondary-background);

    &__header {
        text-align: center;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: var(--primary-color);
        margin-bottom: 30px;
    }

    &__teamphoto {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__list {
        width: 354px;
        background-color: var(--fourth-color);
        box-shadow: 0 1px 3px 0 var(--shadow-color-two),
                0 1px 1px 0 var(--shadow-color-three),
                0 2px 1px 0 var(--shadow-color-four);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
 
    &__teammember-description {
        padding-top: 30px;
        padding-bottom: 24px;
    }

    &__teammembers {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--primary-color);
        text-align: center;
        margin-bottom: 10px;
    }

    &__positionteam {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--secondary-color);
        text-align: center;
    }

    &__sociallinks-list {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 16px;
    }

    &__sociallink {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        fill: var(--sociallink-color);
        transition: background-color 250ms var(--time-distribution-function),
                                fill 250ms var(--time-distribution-function);
    }

    &__icon-sociallinks {
        width: 20px;
        height: 20px;
    }
    }
}
@include desktop {
    .ourteam {

        background-color: var(--secondary-background);

        &__header {
            text-align: center;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            color: var(--primary-color);
            margin-bottom: 50px;
        }

        &__list {
            width: 270px;
            background-color: var(--fourth-color);
            box-shadow: 0 1px 3px 0 var(--shadow-color-two),
                0 1px 1px 0 var(--shadow-color-three),
                0 2px 1px 0 var(--shadow-color-four);
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            margin-bottom: 0;
        }

        &__teammember-description {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__teammembers {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: var(--primary-color);
            text-align: center;
            margin-bottom: 10px;
        }

        &__positionteam {
            font-size: 16px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: var(--secondary-color);
            text-align: center;
        }

        &__sociallinks-list {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 16px;
        }

        &__sociallink {
            display: flex;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            fill: var(--sociallink-color);
            transition: background-color 250ms var(--time-distribution-function),
                fill 250ms var(--time-distribution-function);
        }

        &__sociallink:hover,
        &__sociallink:focus {
            background-color: var(--hover-color);
            fill: var(--fourth-color);
        }

        &__icon-sociallinks {
            width: 20px;
            height: 20px;
        }
    }
}