@include mobile {
.header {
    border-bottom: 1px solid var(--line-color);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    &__logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--third-color)
    }
      
    &__logoweb {
        color: var(--hover-color)
    }

    &__sitenav-menu {
        display: none;
    }

    &__contacts-menu {
        display: none;
    }
    
    &__mobile-button {
        display: inline-block;
        align-items: baseline;
        padding: 22px 8px;
        border: none;
        background-color: inherit;
    }
}
}

@include tablet {
    .header {
        border-bottom: 1px solid var(--line-color);
        
        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        &__logo {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: var(--third-color)
        }
        
        &__logoweb {
            color: var(--hover-color)
        }

        &__nav {
            display: flex;
            align-items: center;
        }
        
        &__sitenav-menu {
            display: flex;
            justify-content: space-between;
            width: 283px;
            margin-left: 87px;
        }
               
        &__sitenav {
                    display: block;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.14;
                    letter-spacing: 0.02em;
                    color: var(--primary-color);
                    padding-top: 32px;
                    padding-bottom: 32px;
                    transition: color 250ms var(--time-distribution-function);
        }

        &__currentpage {
                position: relative;
                color: var(--hover-color);
        }

        &__currentpage::after {
                position: absolute;
                bottom: -1px;
                display: block;
                content: "";
                width: 100%;
                height: 4px;
                background-color: var(--hover-color);
                border-radius: 2px;
        }

        &__contacts-menu {
            margin-left: auto;
        }
        
        &__contacts {
            font-weight: 500;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            color: var(--secondary-color);
            padding-top: 5px;
            padding-bottom: 5px;
            align-items: center;
            fill: currentColor;
            transition: color 250ms var(--time-distribution-function);
        }

        &__icon-envelope {
            width: 14px;
            height: 10px;
        }
                             
        &__phon {
            margin-top: 10px;
        }

        &__icon-phon {
            width: 10px;
            height: 14px;
        }

        &__mobile-button {
            display: none;
        }
    }
}

@include desktop {
    .header {
        border-bottom: 1px solid var(--line-color);
        
        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        &__sitenav-menu {
            width: 285px;
            margin-left: 93px;
        }
           
        &__sitenav {
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--primary-color);
            padding-top: 32px;
            padding-bottom: 32px;
            transition: color 250ms var(--time-distribution-function);
        }
    
        &__sitenav:hover,
        &__sitenav:focus {
            color: var(--hover-color);
        }
    
        // &__currentpage {
        //     position: relative;
        //     color: var(--hover-color);
        // }
    
        // &__currentpage::after {
        //     position: absolute;
        //     bottom: -1px;
        //     display: block;
        //     content: "";
        //     width: 100%;
        //     height: 4px;
        //     background-color: var(--hover-color);
        //     border-radius: 2px;
        // }
    
        &__contacts-menu {
            display: flex;
            margin-left: auto;
        }
    
        &__contacts {
            display: flex;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--secondary-color);
            padding-top: 32px;
            padding-bottom: 32px;
            gap: 10px;
            align-items: center;
            fill: currentColor;
            transition: color 250ms var(--time-distribution-function);
        }
    
        &__contacts:hover,
        &__contacts:focus {
            color: var(--hover-color);
        }
        
        &__icon-envelope {
            width: 16px;
            height: 12px;
        }

        &__phon {
            margin-top: 0;
            margin-left: 30px;
        }

        &__icon-phon {
            width: 10px;
            height: 16px;
        }

        &__mobile-button {
            display: none;
        }
    }
}
